
<div class="col-md-6">
  <div class="row">
      <div style="position: relative;width: 1920px;height: 1024px;background: #FFFFFF;">
          <div style="position: absolute;width: 1920px;height: 1024px;left: 0px;top: 0px;background-repeat:no-repeat;background-size:cover;">
              <img src="https://s3-alpha-sig.figma.com/img/6d0c/4510/03bdbd734faa7044ce5638842362af92?Expires=1609113600&Signature=RzDi4ikkoS9rQbV7hP4TFxp2zlVQ9V1b-eWZvODaDVv7JOV0MjWBGUH4guTiypym4NPmM3Kf1aiHzHw900fa9G~xqUIEGsp55usmXe24d2m91Jzt8TMNjm1SnDDVAwrJBASxgsh0LQpyogFMxGmc2iZAU0se3kne3rEJx7OTIfjva8hvrai5Y35y~3ky~9-PLskUlZydhiQOsp6w3VYMheau5D6ibf7slsSjwxdNnSRNm7TCDz-kWYF22iLnJ~zpMVamCdPhLeR-GzSqvB~O5MEAkSN~Rw1CmMYkcppTabajOafYNigYHe8PfTRFFjMCne3sO1OCI2Mqsn2DJDGG5w__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA">
              <div style="position: absolute;width: 635.62px;height: 976.46px;left: 1213.48px;top: 29.54px;border-radius: 10px;">
                <img src="assets/img/Rectangle 2.png">
              </div>
              <div style="position: absolute;width: 596.3px;height: 938.6px;left: 1233.7px;top: 51.4px;background: #16004B;border-radius: 10px;">
                <img src="assets/img/Rectangle 1.png">
              </div>
              <div class="card-header" style="position: absolute;width: 444.14px;height: 31.22px;left: 1385.72px;top: 101.83px;font-family: Poppins;font-style: normal;font-weight: 500;font-size: 18px;line-height: 27px;text-align: center;letter-spacing: 0.095em;color: #E1E1E1;">
                 To Start Your Free Sales Trial
              </div>
              <div style="position: absolute;left: 66%;right: 2%;top: 10.7%;bottom: 16.05%;">
                <img src="assets/img/Arrow Back.png">
              </div>
              <div style="position: absolute;height: 104.51487731933594px;width: 100.67534637451172px;left: 82rem;top: 72px;border-radius: 0px;">
               <img src="assets/img/Vector.png" >
              </div>
              <div style="position: absolute;width: 444.14px;height: 31.22px;left: 1142.02px;top: 107.22px;line-height: 121.5%;text-align: center;color: #E1E1E1;">
                <img src="assets/img/SIGN UP NOW.png">
              </div>
              
          </div>
      </div>
  </div>
</div>


<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label style="position: absolute;width: 98.57px;height: 17.25px;left: 1269.23px;top: 197.78px;font-family: Poppins;font-style: normal;font-weight: 300;font-size: 17px;line-height: 22px;color: #E5DBFF;">
      First Name
    </label>                
    <input placeholder="Enter Your First Name..." type="text" formControlName="FirstName" class="form-control" 
    [ngClass]="{'is-invalid':submitted && f.FirstName.errors}" style="color:white;position: absolute;width: 237.79px;height: 46.82px;left: 1270.09px;top: 227.1px;border: 0.5px solid  #616161;background-color:#16004B;box-sizing: border-box;border-radius: 5px;" />
    <div *ngIf="submitted && f.FirstName.errors" class="invalid-feedback">
     <div  *ngIf="f.FirstName.errors.required" class="errorf">first Name required</div>
    </div> 
  </div>
  
  <div class="form-group">
    <label style="position: absolute;width: 98.57px;height: 17.25px;left: 1541.19px;top: 197.78px;font-family: Poppins;font-style: normal;font-weight: 300;font-size: 17px;line-height: 22px;color: #E5DBFF;">
      Last Name
    </label>                
    <input placeholder="Enter Your Last Name..." type="text" formControlName="LastName" class="form-control" 
    [ngClass]="{'is-invalid':submitted && f.LastName.errors}" style="color:white;position: absolute;width: 237.79px; height: 46.82px;left: 1542.05px;top: 227.1px;border: 0.5px solid #616161;box-sizing: border-box;border-radius: 5px;background-color:#16004B" />
    <div *ngIf="submitted && f.LastName.errors" class="invalid-feedback">
     <div *ngIf="f.LastName.errors.required" class="errorL" >
       Last Name is required
     </div>
    </div> 
  </div>
  <div class="form-group">
    <label style="position: absolute;width: 98.57px;height: 17.25px;left: 1269.23px;top: 297.91px;font-family: Poppins;font-style: normal;font-weight: 300;font-size: 17px;line-height: 22px;color: #E5DBFF;">
      Work Email
    </label>                
    <input placeholder="name@zyz.com..." type="text" formControlName="WorkEmail" class="form-control" 
    [ngClass]="{'is-invalid':submitted && f.WorkEmail.errors}" style="color:white;position: absolute;width: 237.79px;height: 46.82px;left: 1270.09px;top: 327.24px;border: 0.5px solid #616161;box-sizing: border-box;border-radius: 5px;;background-color:#16004B" />
    <div *ngIf="submitted && f.WorkEmail.errors" class="invalid-feedback">
     <div *ngIf="f.WorkEmail.errors.required" class="errorw">WorkEmail is required</div>
    </div> 
  </div>
    <div class="form-group" >
      <label style= "position: absolute;width: 98.57px; height: 17.25px;left: 1542.05px;top: 297.91px;font-family: Poppins;font-style: normal;font-weight: 300;font-size: 17px;line-height: 22px;color: #E5DBFF;">
        Job Title
      </label>
       <select (change)="changejob($event)" 
          formControlName="JobTitle" style="color: #828282;position: absolute;width: 237.79px;height: 46.82px;left: 1542.91px;top: 327.24px;border: 0.5px solid #616161;box-sizing: border-box;border-radius: 5px;background-color:#16004B">
           <option value="">Select Your Job Title</option>
          <option *ngFor="let job of jobtitle" [ngValue]="job">{{job}}</option>
        </select>
          <div class="invalid-feedback" *ngIf="submitted && JobTitle.errors?.required" class="errorj">
              Please Select your Designation
          </div>
    </div>
  
  <div class="form-group">
    <label style="position: absolute;width: 98.57px;height: 17.25px;left: 1269.23px;top: 406.05px;font-family: Poppins;font-style: normal;font-weight: 300;font-size: 17px;line-height: 22px;color: #E5DBFF;">
      Company
    </label>                
    <input placeholder="Enter Your Company Name" type="text" formControlName="Company" class="form-control" 
    [ngClass]="{'is-invalid':submitted && f.Company.errors}" style="color:white;position: absolute;width: 510.61px;height: 46.82px;left: 1270.09px;top: 435.37px;border: 0.5px solid #616161;box-sizing: border-box;border-radius: 5px;background-color:#16004B" />
    <div *ngIf="submitted && f.Company.errors" class="invalid-feedback">
     <div *ngIf="f.Company.errors.required" class="errorcpy">Company is required</div>  
    </div> 
  </div>
  

 
          <div class="form-group" >
      <label style= "position: absolute;width: 146.91px;height: 17.25px;left: 1269.23px;top: 519.19px;font-family: Poppins;font-style: normal;font-weight: 300;font-size: 17px;line-height: 22px;color: #E5DBFF;color: #E5DBFF;">
        No. Of Employees
      </label>
       <select (change)="changeemp($event)" 
          formControlName="NoOfEmployees" style="color: #828282;position: absolute;width: 510.61px;height: 46.82px;left: 1270.09px;top: 548.51px;border: 0.5px solid #616161;box-sizing: border-box;border-radius: 5px;background-color:#16004B">
           <option value="">Select No. Of Employees In Your Company</option>
          <option *ngFor="let emp of empno" [ngValue]="emp">{{emp}}</option>
        </select>
          <div class="invalid-feedback" *ngIf="submitted && Country.errors?.required" class="erroremp">
            Select No of Employee
        </div>
    </div>



  <div class="form-group">
    <label style="position: absolute;width: 98.57px;height: 17.25px;left: 1269.23px;top: 626.91px;font-family: Poppins;font-style: normal;font-weight: 300;font-size: 17px;line-height: 22px;color: #E5DBFF;">
      CTI Vendor
    </label>                
    <input placeholder="CTI Vendor" type="text" formControlName="CTIVendor" class="form-control" 
    [ngClass]="{'is-invalid':submitted && f.CTIVendor.errors}" 
    style="color:white;position: absolute;width: 237.79px;height: 46.82px;left: 1270.09px;top: 656.23px;border: 0.5px solid #616161;box-sizing: border-box;border-radius: 5px;background-color:#16004B"/>
    <div *ngIf="submitted && f.CTIVendor.errors" class="invalid-feedback">
     <div *ngIf="f.CTIVendor.errors.required" class="errorcti">CTIVendor is required</div>
    </div> 
  </div> 
 
  <div class="form-group">
     <label style="position: absolute;width: 98.57px;height: 17.25px;left: 1548.23px;top: 626.91px;font-family: Poppins;font-style: normal;font-weight: 300;font-size: 17px;line-height: 22px;color: #E5DBFF;">
      CRM Vendor
     </label>                
    <input placeholder="CRM Vendor" type="text" formControlName="CRMVendor" class="form-control" 
           [ngClass]="{'is-invalid':submitted && f.CRMVendor.errors}" 
           style="color: white;
           position: absolute;
           width: 237.79px;
           height: 46.82px;
           left: 1549.09px;
           top: 656.23px;
           border: 0.5px solid #616161;
           box-sizing: border-box;
           border-radius: 5px;
           background-color: #16004B;"/>
    <div *ngIf="submitted && f.CRMVendor.errors" class="invalid-feedback">
        <div *ngIf="f.CRMVendor.errors.required" class="errorcrm">CRMVendor is required</div>
    </div> 
  </div>
  <div class="form-group">
    <label style="position: absolute;width: 146.91px;height: 17.25px;left: 1269.23px;top: 725.32px;font-family: Poppins;font-style: normal;font-weight: 300;font-size: 15px;line-height: 22px;color: #E5DBFF;">
      Phone Number
    </label>                
   <input placeholder="9xxxxxxxx" type="text" formControlName="PhoneNumber" class="form-control" 
          [ngClass]="{'is-invalid':submitted && f.PhoneNumber.errors}" Numberonly
          style="color: white;position: absolute;width: 237.79px;height: 46.82px;left: 1270.09px;top: 754.65px;border: 0.5px solid #616161;box-sizing: border-box;border-radius: 5px;background-color: #16004B;"/>
       <div *ngIf="submitted && f.PhoneNumber.errors" class="invalid-feedback">
         <div *ngIf="f.PhoneNumber.errors.required" class="errorph">PhoneNumber is required</div>
       </div> 
 </div>


      <div class="form-group" >
      <label style= "position: absolute;width: 146.91px;height: 17.25px;left: 1542.05px;top: 725.32px;font-family: Poppins;font-style: normal;font-weight: 300;font-size: 17px;line-height: 22px;color: #E5DBFF;">
        Country
      </label>
       <select (change)="changecny($event)" 
          formControlName="Country" style="color: #828282;position: absolute;width: 237.79px;height: 46.82px;left: 1542.91px;top: 754.65px;border: 0.5px solid #616161;box-sizing: border-box;border-radius: 5px;background-color: #16004B;">
           <option value="">Select Your Country</option>
          <option *ngFor="let cny of country" [ngValue]="cny">{{cny}}</option>
        </select>
          <div class="invalid-feedback" *ngIf="submitted && Country.errors?.required" class="errorcny">
              Country is required
          </div>
    </div>









<div class="form-group">
  <input type="checkbox" style="position: absolute;width: 29.57px;height: 29.57px;left: 1270.09px;top: 827.78px;border: 1px solid #E5DBFF;box-sizing: border-box;border-radius: 5px;" formControlName="AcceptTerms" id="AcceptTerms" 
   [ngClass]="{ 'is-invalid': submitted && f.AcceptTerms.errors }" />
   <!--Accept title Down-->
  <label for="AcceptTerms" style="position: absolute;width: 376.04px;height: 17.25px;left: 1312.92px;top: 831.47px;font-family: Poppins;font-style: normal;font-weight: 300;font-size: 17px;line-height: 22px;color: #E5DBFF;" 
  class="form-check-label">
    I Agree To the Master Subscription Agreement.</label>
  <div *ngIf="submitted && f.AcceptTerms.errors" class="invalid-feedback" class="erroraccept">Accept Teams & Conditions</div>
</div>
<div class="text-center" >
  <button style="position: absolute;width: 507.21px;height: 46.85px;left: 1273.49px;top: 890.22px;background: #DF643A;border-radius: 5px;">
    Start My Free Trial</button>
  </div>
</form>



<!--
  <div class="form-group">
    <label style="position: absolute;width: 146.91px;height: 17.25px;left: 1269.23px;top: 519.19px;font-family: Poppins;font-style: normal;font-weight: 300;font-size: 17px;line-height: 22px;color: #E5DBFF;color: #E5DBFF;">
      No. Of Employees
    </label>                
    <input placeholder="" type="text" formControlName="NoOfEmployees" class="form-control" 
    [ngClass]="{'is-invalid':submitted && f.NoOfEmployees.errors}" style="color:white;position: absolute;width: 510.61px;height: 46.82px;left: 1270.09px;top: 548.51px;border: 0.5px solid #616161;box-sizing: border-box;border-radius: 5px;background-color:#16004B" />
    <div *ngIf="submitted && f.NoOfEmployees.errors" class="invalid-feedback">
      <div *ngIf="f.NoOfEmployees.errors.required" class="erroremp">plz enter No Of Employees</div>  
    </div> 
  </div>
-->