.errorf
{
    position: absolute;width: 170px;height: 17.25px;left: 1269.23px;top: 275.78px;font-family: Poppins;font-style: normal;font-weight: 300;font-size: 15px;line-height: 22px;color:#dc3545;
}
.errorL
{
    position: absolute;width: 170.57px;height: 17.25px;left: 1541.19px;top: 275.78px;font-family: Poppins;font-style: normal;font-weight: 300;font-size: 15px;line-height: 22px;color: #dc3545;
}
.errorw
{
    position: absolute;width: 200.57px;height: 17.25px;left: 1269.23px;top: 382.91px;font-family: Poppins;font-style: normal;font-weight: 300;font-size: 15px;line-height: 22px;color: #dc3545;
}
.errorj
{
    position: absolute;width: 200.57px; height: 17.25px;left: 1542.05px;top: 382.91px;;font-family: Poppins;font-style: normal;font-weight: 300;font-size: 15px;line-height: 22px;color: #dc3545;
}
.errorcpy
{
    position: absolute;width: 200.57px;height: 17.25px;left: 1269.23px;top: 492.05px;font-family: Poppins;font-style: normal;font-weight: 300;font-size: 15px;line-height: 22px;color: #dc3545;
}
.erroremp
{
    position: absolute;width: 200.91px;height: 17.25px;left: 1269.23px;top: 601.19px;font-family: Poppins;font-style: normal;font-weight: 300;font-size: 15px;line-height: 22px;color: #dc3545;
}
.errorcti
{
    position: absolute;width: 200.57px;height: 17.25px;left: 1269.23px;top: 706.91px;font-family: Poppins;font-style: normal;font-weight: 300;font-size: 15px;line-height: 22px;color: #dc3545;
}
.errorcrm
{
    position: absolute;width: 200.57px;height: 17.25px;left: 1548.23px;top: 705.91px;;font-family: Poppins;font-style: normal;font-weight: 300;font-size: 15px;line-height: 22px;color: #dc3545;
}
.errorph
{
    position: absolute;width: 200.91px;height: 17.25px;left: 1269.23px;top:804.32px;font-family: Poppins;font-style: normal;font-weight: 300;font-size: 15px;line-height: 22px;color: #dc3545;
}
.errorcny
{
    position: absolute;width: 200.91px;height: 17.25px;left: 1542.05px;top: 804.32px;;font-family: Poppins;font-style: normal;font-weight: 300;font-size: 15px;line-height: 22px;color: #dc3545;
}
.erroraccept
{
    position: absolute;width: 376.04px;height: 17.25px;left: 1312.92px;top: 858.47px;font-family: Poppins;font-style: normal;font-weight: 300;font-size: 15px;line-height: 22px;color: #dc3545;
}